/* Loader */
.loader {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product view for home page */
.card-container {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.book-card {
  width: 183px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  padding-bottom: 12px;
}

.book-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.img-wrapper {
  padding: 10px;
}

img {
  width: 163px;
  border-radius: 2px 2px 0 0;
}

.book-title,
.book-author {
  font-weight: normal;
}

.book-title {
  margin: 5px 0 7px 0;
  font-size: 16px;
}

.book-author {
  margin-bottom: 15px;
  font-size: 12px;
}

.book-purchase-wrapper {
  padding: 0 12px 0 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-price {
  font-size: 20px;
  color: #981E29;
}

.purchase-button {
  cursor: pointer;
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 34px;
  background-color: var(--orange);
}

.purchase-button:hover .icon {
  color: var(--orange);
}

.icon {
  color: #FFFFFF;
}

/* Hidden */
.hidden {
  display: none;
}