
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.dropbtn, #searchBtn, #resetAllBtn {
  font-size:medium;
  margin: 5px;
}

#checkAllBtn, #resetBtn {
  font-size: small;
}

.dropdown-content {
  display: none;
  font-family: "Inclusive Sans";
}
  
.show {
  display:block;
} 

.filterInput, .filterLabel {
  margin: 5px;
}

#filterDropdown {
  width: 25%;
  left: 0;
}

