
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.dropbtn, #searchBtn, #resetAllBtn {
  font-size:medium;
  margin: 5px;
}

#checkAllBtn, #resetBtn {
  font-size: small;
  margin: 10px 0px;
}

#filterBtn, #searchBtn {
  font-size: large;
  padding: 2px 10px 2px 10px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 15px;
}
 
#resetAllBtn {
  font-size: small;
}

.dropdown-content {
  display: none;
  font-family: "Inclusive Sans";
  margin-left: 5px;
}
  
.show {
  display:block;
} 

.filterInput, .filterLabel {
  margin: 5px;
}

#filterDropdown {
  width: 18%;
  left: 0;
}