:root {
  --orange: #F19844;
  --beige: #F8F3EF;
  font-family: "Inclusive Sans", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#main-container {
  flex: 1;
}

/*Fontversioner Inclusive Sans*/
.inclusive-sans-regular {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular-italic {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/*Styling rubriker*/
h1,
h2,
h3,
h4,
p,
li {
  font-weight: normal;
}

p,
li {
  font-size: 12px;
}

/*Styling header*/
header {
  background-color: var(--orange);
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

#logo-boklusen {
  height: 12vh;
  margin-left: 60px;
}

#logo-cart {
  height: 4vh;
  margin-right: 60px;
}

/*Styling footer*/
footer {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: var(--orange);
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#footer-left,
#footer-right {
  width: 50%;
  box-sizing: border-box;
}

#footer-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#kundservice,
#om-oss {
  display: flex;
  flex-direction: column;
}

footer li {
  list-style: none;
  margin-left: -40px;
}

footer h3 {
  margin-bottom: -5px;
}

#logo-footer {
  height: 10vh;
  padding-right: 50px;
}

/*Styling search bar for home page*/
#searchbar-container {
  position: relative;
  width: 80vw;
  margin: 25px auto;
  display: flex;
  align-items: center;
}

#main-searchbar {
  width: 100%;
  height: 45px;
  padding: 10px 50px 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(152, 152, 152, 0.4);
  font-size: 16px;
}

#main-searchbar:focus {
  border: 2px solid var(--orange);
  outline: none;
}

#main-searchbutton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#main-searchbutton img {
  height: 20px;
  width: 20px;
}

button {
  background-color: var(--orange);
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 12px;
  transition: all ease 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: var(--orange) solid;
  color: var(--orange);
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
}

/* Loader */
.loader {
  z-index: 10;
  display: flex;
}


/* Product view for home page */
.card-container {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.book-card {
  width: 183px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  padding-bottom: 12px;
}

.book-card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.img-wrapper {
  padding: 10px;
}

img {
  width: 163px;
  border-radius: 2px 2px 0 0;
}

.book-title,
.book-author {
  font-weight: normal;
}

.book-title {
  margin: 5px 0 7px 0;
  font-size: 16px;
}

.book-author {
  margin-bottom: 15px;
  font-size: 12px;
}

.book-purchase-wrapper {
  padding: 0 12px 0 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-price {
  font-size: 20px;
  color: #981E29;
}

.purchase-button {
  cursor: pointer;
  height: 41px;
  width: 41px;
  border: none;
  border-radius: 34px;
  background-color: var(--orange);
}

.purchase-button:hover {
  filter: brightness(0.9);
}

.icon {
  color: #FFFFFF;
}

/* Hidden */
.hidden {
  display: none;
}

/* Media Queries */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 1400px;
  }

  /*Styling search bar for home page*/
  #searchbar-container {
    width: 40vw;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {

    /*Styling search bar for home page*/
    #searchbar-container {
      width: 30vw;
    }
  }