html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--beige);
}

:root {
  --orange: #F19844;
  --beige: #F8F3EF;

  font-family: Arial, Helvetica, sans-serif;
}

/*Fontversioner Inclusive Sans*/
.inclusive-sans-regular {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inclusive-sans-regular-italic {
  font-family: "Inclusive Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/*Styling rubriker*/
h1,
h2,
h3,
h4,
p,
li {
  font-family: "Inclusive Sans", sans-serif;
}

p,
li {
  font-size: 12px;
}

/*Styling header*/
header {
  background-color: var(--orange);
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-boklusen {
  height: 12vh;
  margin-left: 60px;
}

#logo-cart {
  height: 4vh;
  margin-right: 60px;
}

/*Styling search bar for home page */
#searchbar-container {
  position: relative;
  width: 90vw;
  margin: 25px auto;
  display: flex;
  align-items: center;
}

#main-searchbar {
  width: 100%;
  height: 45px;
  padding: 10px 50px 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(152, 152, 152, 0.4);
  font-size: 16px;
}

#main-searchbar:focus {
  border: 2px solid var(--orange);
  outline: none;
}

#main-searchbutton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#main-searchbutton img {
  height: 20px;
  width: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Inclusive Sans", sans-serif;
}

button {
  background-color: var(--orange);
  border-radius: 8px;
  border: none;
  color: white;
  font-family: "Inclusive Sans";
  font-size: 12px;
  transition: all ease 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: var(--orange) solid;
  color: var(--orange);
}


/* Cart Page */

.content-wrapper {
  margin: 0 auto;
}

.main-content-holder {
  margin: 24px 12px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
  row-gap: 18px;
}

.cart-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 16px;
}

.cart-total {
  grid-column: 1 / span 2;
  grid-row: 3;
  font-size: 16px;
}

.checkout-button {
  grid-column: 4 / span 1;
  grid-row: 3;
  max-width: 100px;
}

.cart-items-holder {
  grid-column: span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 24px;
}

.grid-content {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.item-image-holder {
  grid-column: 1 / span 1;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust this value to fit your layout */
  overflow: hidden;
  /* Prevents the image from overflowing its container */
}

.item-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* Ensures the image covers the area */
  object-position: top;
  /* Align the image to the top */
  aspect-ratio: 1 / 1;
  /* Maintain a 1:1 aspect ratio */
}

.item-quantity {
  position: relative;
  grid-column: 2 / span 1;
}

.item-quantity::before {
  content: "";
  background-image: url(./icons/minus-button.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.item-quantity::after {
  content: "";
  background-image: url(./icons/plus-button.svg);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.item-info {
  grid-column: 3 / span 1;
}

.item-info ul {
  padding: 0;
}

.item-info li {
  list-style: none;
}

.item-price {
  grid-column: 4 / span 1;
}

/* Media Queries */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 1400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}